* {
    margin: 0;
    padding: 0;
    font-family: 'Palanquin'
}

.scroll-div {
    scroll-behavior: smooth;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10%);
        /* Move up */
    }

    30% {
        transform: translateY(0);
        /* Return to the original position */
    }

    50% {
        transform: translateY(-5%);
        /* Small upward bounce */
    }

    60% {
        transform: translateY(0);
        /* Return again */
    }

    90% {
        transform: translateY(0);
        /* Return again */
    }

    100% {
        transform: translateY(0);
        /* Final position */
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
        /* Move up */
    }

    100% {
        transform: translateY(0);
        /* Return to the original position */
    }
}

/* Text */

.browntext {
    color: #6D4F2B;
}

.yellowtext {
    color: #FFCF2F;
}

.whitetext {
    color: #FFF;
}

/* Basic */

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.quarterspan {
    display: inline-block;
    width: 25%;
    padding: 3vw;
    box-sizing: border-box;
}

.fortyspan {
    display: inline-block;
    width: 40%;
    padding: 3vw;
    box-sizing: border-box;
}

.halfspan {
    display: inline-block;
    width: 50%;
    padding: 3vw;
    box-sizing: border-box;
}

.sixtyspan {
    display: inline-block;
    width: 60%;
    padding: 3vw;
    box-sizing: border-box;
}

.threequarterspan {
    display: inline-block;
    width: 75%;
    padding: 3vw;
    box-sizing: border-box;
}

/* Elements */

br {
    user-select: none;
}

h1 {
    font-family: "Palanquin", sans-serif;
    font-size: 8.5vw;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #131313;
    line-height: 100px;
}

h2 {
    font-family: "Palanquin", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #131313;
    line-height: 6vh;
    margin-bottom: 2.5vw;
}

h3 {
    font-family: "Palanquin", sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #131313;
    line-height: 40px;

}

h4 {
    font-family: "Palanquin", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #131313;
}

.p {
    font-family: "Palanquin", sans-serif;
    font-size: 1vw;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #131313;
}

/* Header */

.header {
    background-color: #131313;
    display: flex;
    height: 7.5vw;
    max-width: 100%;
    user-select: none;
    vertical-align: middle;
    align-items: center;
    padding: 0 6% 0 7%;
    justify-content: center;
}

.logo {
    width: 85%;
    display: flex;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
    flex-grow: 1;
    margin: 0 -12% 0 0;
}

.social {
    width: 15%;
    display: flex;
    margin-top: 1;
    align-items: center;
    vertical-align: middle;
    gap: 1vw;
    justify-content: left;
}

.socialspan {
    justify-content: space-between;
    width: 2vw;
    vertical-align: middle;
}

.socialspan:hover {
    animation: float 1.5s ease-in-out infinite;
}

.dropdown-container {
    vertical-align: middle;
    align-items: center;
    display: flex;
    width: 21.5vw;
    position: relative;
    background-color: #131313;
    color: #fff;
    font-size: 0.8vw;
    justify-content: right;
}

.selected {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #131313;
    padding: 0 3% 1vh 0;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.selected:hover {
    border-color: #FFCF2F;
}

.arrow {
    transition: transform 0.3s ease;
    text-decoration: none;
    width: 0.6vw;
    align-items: center;
    vertical-align: baseline;
    padding-left: 0.3vw;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #111;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1000;

    transition: background-color 0.3s ease-in-out;
}

.dropdown div {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px;
}

.dropdown div:last-child {
    border-bottom: none;
}

.dropdown div:hover {
    background-color: #000;
    transition: background-color 0.s ease-in-out;
}

.icon {
    margin-right: 10px;
    height: auto;
    width: 1vw;
}

.rotate {
    transform: scaleY(-1);
}

/* Button */

.button {
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.5s;
}

.homebutton {
    display: flex;
    gap: 1%;
    opacity: 1;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #131313;
    margin: 0 auto 10vw;
    padding-bottom: .25vw;
    align-items: center;
    justify-content: center;
    font-family: "Palanquin", sans-serif;
    font-size: 1vw;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    width: 15%;
    height: 3%;
    transition: background-color 0.1s linear, color 0.1s linear;
    user-select: none;
}

.homebutton:hover {
    background-color: #131313;
    color: #FFCF2F;
}

.homebutton:hover .call {
    content: url('images/callyellow.svg');
}

.learnmorebutton {
    border-radius: 3px;
    border: none;
    background-color: #131313;
    color: #fff;
    font-family: "Palanquin", sans-serif;
    font-size: 0.8vw;
    font-weight: 500;
    width: 40%;
    padding: 2% 1.5%;
    margin-top: 1vw;
    transition: color 0.2s linear;
    user-select: none;
}

.learnmorebutton:hover {
    color: #FFCF2F;
}

/* Navigation Bar */

nav {
    font-family: "Palanquin", sans-serif;
    font-size: 1vw;
    font-weight: 600;
    user-select: none;
    width: 100%;
    height: 3.5vw;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.logonav {
    display: block;
    opacity: 1;
    height: 3.5vw;
    padding-left: -5vw;
    margin: auto;
}

.search {
    display: inline;
    vertical-align: middle;
    margin-top: -5px;
    width: 1.1vw;
}

.search:hover {
    animation: float 1.3s ease-in-out infinite;
}

.navbar {
    background-color: #6D4F2B;
    opacity: 0.75;
    top: 0;
    display: flex;
    transition: opacity 0.1s ease-in-out;
}

.navbar a {
    text-align: center;
    justify-content: space-between;
    font-style: normal;
    text-decoration: none;
    opacity: 1;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.navbar a:hover {
    border-color: #fff;
}

.navbar a.search:hover {
    border-color: transparent;
}

.navbar ul li {
    display: inline-block;
    margin: 1vw 3.5vw;
    vertical-align: middle;
}

.secondary-navbar {
    background-color: #6D4F2B;
    opacity: 1;
    top: 0;
    position: fixed;
    display: none;
    transition: opacity 0.1s ease-in-out;
    z-index: 800;
}

.secondary-navbar a {
    text-align: center;
    justify-content: space-between;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.secondary-navbar a.search:hover {
    border-color: transparent;
}

.secondary-navbar a:hover {
    border-color: #fff;
}

.secondary-navbar ul li {
    display: inline-block;
    margin: 1vw 3.5vw;
    vertical-align: middle;
}

/* Landing Page */


#landing {
    max-width: 100%;
    background-image: url(images/home.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#landingtitle {
    position: relative;
    margin: 9.6vw auto 0;
    color: #FFF;
    text-align: center;
    font-size: 4vw;
}

#landingsubtext {
    position: relative;
    margin: 1vw auto 2vw;
    color: #FFF;
    font-size: 1.2vw;
    font-weight: 400;
    max-width: 55%;
}

.call {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5%;
    margin-top: 3%;
    width: 23%;
    height: auto;
    user-select: none;
}

.arrow1 {
    padding-bottom: 1vw;
    display: inline-block;
    vertical-align: middle;
    width: 4%;
    margin-bottom: 2%;
    height: auto;
    user-select: none;
}

.arrow1:hover {
    animation: bounce 2s ease-in-out;
    animation-iteration-count: infinite;
}

/* About */

#about.container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    align-items: center;
}

#locally {
    margin: 1% 0 3% 7vw;
}

.locallyimg {
    height: 60vh;
    margin: 1% 0 3% 7vw;
}

.locallytext {
    width: 77%;
    display: block;
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #131313;
}

/* Choose */

#choose.container {
    max-width: 100%;
    background-image: url(images/choose.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    justify-content: right;
}

#mission {
    display: block;
    background-color: #131313;
    margin: 14% 0% 14% 10%;
    padding-right: 12%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Inventory */

#inventory {
    display: block;
    width: 100%;
    background-color: #131313;
    padding: 3vw 0;
}

#inventory0 {
    max-width: 100%;
    background-color: #131313;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#inventory1 {
    max-width: 100%;
    background-color: #131313;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#inventory2 {
    display: flex;
    background-color: #FFF;
    border-radius: 5px;
    align-items: center;
    gap: 3vw;
    margin: auto;
    width: 50%;
}

#inventory3 {
    justify-content: left;
    text-align: left;
    margin: 0 10% 0 0;
}

#inventory4 {
    height: 50vh;
}

#inventorytitle {
    margin-bottom: 1vw;
    width: 110%;
    color: #131313;
}

#inventorytext {
    margin-bottom: 0.5vw;
    width: 90%;
    color: #131313;

}